[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "cytoscnpy"
description = "High-performance dead code elimination analysis tool for Python (Rust implementation)."
requires-python = ">=3.8"
authors = [{ name = "djinn09" }]
license = { file = "License" }
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Software Development :: Quality Assurance",
]
dynamic = ["version"]

[project.urls]
"Homepage" = "https://github.com/djinn09/cytoscnpy"
"Repository" = "https://github.com/djinn09/cytoscnpy"
"Bug Tracker" = "https://github.com/djinn09/cytoscnpy/issues"

[tool.maturin]
bindings = "pyo3"
strip = true
module-name = "cytoscnpy"
python-source = "python"
manifest-path = "cytoscnpy/Cargo.toml"


[project.scripts]
cytoscnpy = "cytoscnpy.cli:main"
